
body{
	background-color: #ffffff;
}
header img{
	height: auto;
	width: 100%;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);

}
header img:hover{
	-webkit-filter:none;
	filter: none;
}


.firstbtn{
	font-weight: bold;
	position: absolute;
	top: 260px;
	left: 10px;
	border:2px solid #000000;
    border-radius: 10px;
    background-color: transparent;
    padding: 10px;
}

.firstbtn:hover{
	background-color: #5a7e90;
}
.btn:hover{
	background-color: #5a7e90;
}

.btn{
    border:2px solid #000000;
    border-radius: 10px;
}
.btn a, .firstbtn a{
	text-decoration: none;
	color: #000000;
}
.box-main{
	display: flex;
	justify-content: center;
	align-content: center;
	width:80%;
	margin: auto;
	margin-top: 6%;
}
.headline{
	font-size: 130%;
	font-weight: bold;
	font-family: 'Lemonada', cursive;
}
.carouselheading{
	margin-top: 5rem;
}
.carouselheading h2{
	text-align: center;
}
#carouselExampleCaptions{
	width: 90%;
	margin-left: 3rem;
}
#carouselExampleCaptions h5{
    font-size: 180%;
}
#carouselExampleCaptions p {
	font-size: 150%;
}
.secondhalf img{
    width: 85%;
    margin-left: 15%;
    border:2px solid #ffffff;
    border-radius: 20%;
    
}
.second, .third, .fourth{
	width: 90%;
	margin-left: 5%;
	margin-top: 5%;
}
 h1{
	font-family: 'Roboto Mono', monospace;
}
.second h2{
	font-weight: normal;
	font-size: 140%;

}
.second h3{
	line-height: 50px;
}
li{
	font-size: 110%;
}
#footer{
	background-color: #1f2961;
	color: #ffffff;
}
#footer h2{
	text-align: center;
	padding:2%;
	text-decoration: underline;
}
.contact{
	display: flex;
	justify-content: center;
	align-content: center;
	flex-basis: 50%;
}
.firstcontact{
	margin-right: 5%;
	text-align: center;
}
.secondcontact{
	margin-right: 5%;
	text-align: center;
}
.thirdcontact{
	margin-right: 5%;
	text-align: center;
}
.contactme h4{
	text-align: center;

}
.instagram, .linkedIn, .github{
	text-decoration: none;
	color: #ffffff;
}
.name{
	color: #9a8787;
	text-align: center;
}
.fab{
	margin-top: 3%;
	margin-left: 24%;
	margin-bottom: 3%;

}
hr{
	background-color: #ffffff;
}

@media screen and (max-width: 700px){
       .secondhalf img{
       	width: 90%;
       }
  
}

@media screen and (max-width: 420px){
	    #footer{
	    	height: 15em;
	    	width: 95%;
	    	margin-left: 8px;

	    }
	    #footer h2, #footer h4, #footer p{
	    	font-size: 70%;
	    }
	    .name{
	    	width: 95%;
	    	margin-left: 8px;
	    }
	    h1{
	    	font-size: 150%;
	    }
	    h3{
	    	font-size: 130%;
	    }
	    .firstbtn{
	         display: none;

        }

	   
}
@media screen and (max-width:451px){
	#footer h2, #footer h4, #footer p{
	    	font-size: 80%;
	    }
	.fab{
		margin-left: 19%;
	}
}
@media screen and (max-width:690px){
	.fab{
		margin-left: 20%;
	}
	#carouselExampleCaptions{
		margin-left: 2rem;
	}
	
}
