
body{
	background-color: #ffffff;
}
header img{
	height: auto;
	width: 100%;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);

}
header img:hover{
	-webkit-filter:none;
	filter: none;
}
header button{
	position: absolute;
	top: 253px;
	left: 5px;
}
button#donate {
    font-weight: bold;
}
.btn:hover{
	background-color: #5a7e90;
}

.btn{
    border:2px solid #000000;
    border-radius: 10px;
}
.btn a{
	text-decoration: none;
	color: #000000;
}
.box-main{
	display: flex;
	justify-content: center;
	align-content: center;
	width:80%;
	margin: auto;
	margin-top: 6%;
}
.headline{
	font-size: 130%;
	font-weight: bold;
	font-family: 'Lemonada', cursive;
}
.secondhalf img{
    width: 85%;
    margin-left: 15%;
    border:2px solid #ffffff;
    border-radius: 20%;
    
}
.second, .third, .fourth{
	width: 90%;
	margin-left: 5%;
	margin-top: 5%;
}
 h1{
	font-family: 'Roboto Mono', monospace;
}
.second h2{
	font-weight: normal;
	font-size: 140%;

}
.second h3{
	line-height: 50px;
}
li{
	font-size: 110%;
}
#footer{
	background-color: #dc3545;
}
#footer h2{
	text-align: center;
	padding:2%;
	text-decoration: underline;
}
.contact{
	display: flex;
	justify-content: center;
	align-content: center;
}
.firstcontact{
	margin-right: 5%;
	text-align: center;
}
.secondcontact{
	margin-right: 5%;
	text-align: center;
}
.thirdcontact{
	margin-right: 5%;
	text-align: center;
}
.instagram{
	text-decoration: none;
	color: black;
}
.name{
	display: inline-block;
	float: right;
	margin-right: 2%;
}
.fab{
	margin-left: 2%;
}
@media screen and (max-width: 700px){
       .secondhalf img{
       	width: 90%;
       }
  
}

@media screen and (max-width: 420px){
	    #footer{
	    	height: 15em;
	    	width: 95%;
	    	margin-left: 8px;

	    }
	    #footer h2, #footer h4, #footer p{
	    	font-size: 70%;
	    }
	    .name{
	    	width: 95%;
	    	margin-left: 8px;
	    }
	    h1{
	    	font-size: 150%;
	    }
	    h3{
	    	font-size: 130%;
	    }

}